.textallinigcenter{
    text-align: center;
}
.textallinigleft{
    text-align: left;
}
.textallinigrigth{
    text-align: right;
}
.itemsallinigallinigcenter{
    position:absolute;
    top: 50%;
    left: 50%;
}
.itemsallinigcenterleft{
    position:absolute;
    top: 50%;
    left: 10%;
}
.itemsallinigcenterleft{
    position:absolute;
    top: 50%;
    right: 10%;
}
.itemsallinigcenterleft{
    position:absolute;
    top: 50%;
    right: 10%;
}
.itemsallinigalliniglowleft{
    position:absolute;
    top: 80%;
    left: 10%;
}