body{
    background-color: black;
    color: rgb(255, 0, 0);
    background-image:url(https://cdn.discordapp.com/attachments/960287817244762193/1025763654253150208/download.png) ;
}
  .white-mode {
    background-color: white;
    color: rgb(255, 0, 0);
    background-image: url(https://cdn.discordapp.com/attachments/960287817244762193/1025764244756643871/download_1.jpeg);
  }

  h1{
    text-align: center;
  }
