body{
    background-color: black;
    color: white;
    background-image:url("./../configs/images/background/dark/darkbackground.jpg") ;
}
  .white-mode {
    background-color: white;
    color: black;
    background-image: url(https://cdn.discordapp.com/attachments/960287817244762193/1025764244756643871/download_1.jpeg);
  }

  h1{
    text-align: center;
  }
